html, body {
    font-family: 'Montserrat', sans-serif !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 14px;
    color: #2c3e50;
}
#app {
    margin-bottom: 35px;

    &.is-playing {
        margin-bottom: 135px;
    }
}
.anchor {
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
    color: #000;

    &:hover,
    &:focus {
        text-decoration: none;
    }
}
.navbar {
    margin-bottom: 35px;
}
.navbar-link {
    -webkit-transition: color, background 200ms ease-in-out;
    -moz-transition: color, background 200ms ease-in-out;
    -o-transition: color, background 200ms ease-in-out;
    transition: color, background 200ms ease-in-out;
    display: inline-block;
    padding: 10px 20px;
    background: #fff;
    min-width: 150px;

    &.router-link-exact-active {
        background: #000;
        color: #fff;
    }
}
.image-max-width {
    width: 100%;
}
.uppercase {
    text-transform: uppercase;
}
.flex {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}
.justify-content-center {
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -o-justify-content: center;
    justify-content: center;
}
.justify-content-start {
    -webkit-justify-content: flex-start;
    -moz-justify-content: flex-start;
    -o-justify-content: flex-start;
    justify-content: flex-start;
}
.justify-content-space-between {
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -o-justify-content: space-between;
    justify-content: space-between;
}
.align-items-start {
    -webkit-align-items: flex-start;
    -moz-align-items: flex-start;
    -o-align-items: flex-start;
    align-items: flex-start;
}
.align-items-center {
    -webkit-align-items: center;
    -moz-align-items: center;
    -o-align-items: center;
    align-items: center;
}
.item-align-center {
    -webkit-align-self: center;
    -moz-align-self: center;
    -o-align-self: center;
    align-self: center;
}
.item-align-end {
    -webkit-align-self: flex-end;
    -moz-align-self: flex-end;
    -o-align-self: flex-end;
    align-self: flex-end;
}