#player {
    border-top: 1px solid #ddd;
    background-color: #eee;
    padding: 10px 10px;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;

    h5 {
        font-size: 1rem;
        margin-top: 0;
        margin-bottom: 0;
    }

    p {
        font-size: 0.875rem;
        font-weight: 300;
        margin-top: 0;
        margin-bottom: 5px;

        &.unavailable {
            font-weight: bold;
        }
    }

    .close {
        font-size: 2rem;
    }

    audio {
        width: 100%;
    }
}