#player {
    border-top: 1px solid #ddd;
    background-color: #1E1A1D;
    padding: 10px 10px;
    position: fixed;
    color: #95A3A4;
    bottom: 0;
    right: 0;
    left: 0;

    h5 {
        font-size: 1rem;
        margin-top: 0;
        margin-bottom: 0;
        color: #E3E4DB;
    }

    p {
        font-size: 0.875rem;
        font-weight: 300;
        margin-top: 0;
        margin-bottom: 5px;

        &.unavailable {
            font-weight: bold;
        }
    }

    .close {
        font-size: 2rem;
        color: #E3E4DB;
        opacity: 1;
        text-shadow: none;

        &:hover,
        &:focus {
            outline: 0;
            color: #95A3A4;
            opacity: 1;
        }
    }

    audio {
        width: 100%;
    }
}