#searchbar {
    position: relative;
    display: block;

    .placeholder {
        z-index: 10;
        cursor: text;
        top: 9px;
        left: 0px;
        color: #555;
        margin: 0px 12px;
        padding: 0px 1px;
        font-weight: 400;
        position: absolute;
        transition: 0.15s ease-in-out;
        -webkit-user-select: none;
           -moz-user-select: none;
            -ms-user-select: none;
                user-select: none;

        &.active {
            top: -10px;
            background: #FFF;
            font-size: 0.95rem;
        }
    }

    input {
        height: 40px;

        &:focus,
        &:active {
            outline: 0;
            border-color: #95A3A4;
        }
    }

    .close {
        top: calc(50% - 11px);
        position: absolute;
        outline: none;
        right: 10px;
        z-index: 2;

        span {
            font-size: 1.15rem;
        }
    }
}

#search-results,
.search-notice {
    margin-top: 20px;
}