.spotify-track {
    -webkit-transition: background-color 200ms ease-in-out;
       -moz-transition: background-color 200ms ease-in-out;
         -o-transition: background-color 200ms ease-in-out;
            transition: background-color 200ms ease-in-out;
    border-bottom: 1px solid #f8f8f8;
    padding: 5px 10px;
    cursor: pointer;

    a {
        color: inherit;
    }

    &:hover {
        background-color: #f8f8f8;

        .spotify-track-thumbnail {
            .spotify-track-play {
                opacity: 1;
            }
        }
    }

    &.is-playing {
        background-color: #f0f0f0;

        .spotify-track-thumbnail {
            .spotify-track-play {
                opacity: 1;
            }
        }
    }

    .spotify-track-thumbnail {
        margin-right: 15px;

        img {
            width: 50px;
        }

        .spotify-track-play {
            -webkit-transition: opacity 150ms ease-in;
               -moz-transition: opacity 150ms ease-in;
                 -o-transition: opacity 150ms ease-in;
                    transition: opacity 150ms ease-in;
            position: absolute;
            opacity: 0;
        }
    }

    .spotify-track-information {
        * {
            margin: 0;
        }

        &.duration {
            margin-left: auto;
        }

        .track-title {
            margin-top: 10px;

            @media screen and (max-width: 768px) {
                margin-top: 0;
            }
        }

        .track-duration {
            margin-top: 17px;
        }

        .track-artist,
        .track-duration,
        .track-belongs-to-playlist {
            font-size: 12px;
            font-weight: 300;

            @media screen and (max-width: 768px) {
                margin-top: 0;
            }
        }
    }
}

#search-results {
    .spotify-track {
        .track-title {
            margin-top: 0;
        }
    }
}