.spotify-track {
    -webkit-transition: background-color 200ms ease-in-out;
    -moz-transition: background-color 200ms ease-in-out;
    -o-transition: background-color 200ms ease-in-out;
    transition: background-color 200ms ease-in-out;
    border-bottom: 1px solid #f9f9f9;
    padding: 5px 10px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: flex-start;
    -moz-align-items: flex-start;
    -o-align-items: flex-start;
    align-items: flex-start;

    a {
        color: inherit;
    }

    &:hover {
        background-color: #f8f8f8;
    }

    .spotify-track-thumbnail {
        margin-right: 15px;

        img {
            width: 65px;
        }
    }
}
.spotify-track-information > * {
    margin: 0;
}
.spotify-track-information.duration {
    margin-left: auto;
}
.spotify-track-information .track-title {
    margin-top: 10px;
}
.spotify-track-information .track-duration {
    margin-top: 25px;
}
.spotify-track-information .track-artist,
.spotify-track-information .track-duration,
.spotify-track-information .track-belongs-to-playlist {
    font-size: 12px;
    font-weight: 300;
}
@media screen and (max-width: 768px) {
    .spotify-track-information .track-title,
    .spotify-track-information .track-duration {
      margin-top: 0;
    }
}