.spotify-track {
    -webkit-transition: background-color 200ms ease-in-out;
    -moz-transition: background-color 200ms ease-in-out;
    -o-transition: background-color 200ms ease-in-out;
    transition: background-color 200ms ease-in-out;
    border-bottom: 1px solid #f9f9f9;
    padding: 5px 10px;

    a {
        color: inherit;
    }

    &:hover {
        background-color: #f8f8f8;
    }

    .spotify-track-thumbnail {
        margin-right: 15px;

        img {
            width: 50px;
        }
    }

    .spotify-track-information {
        * {
            margin: 0;
        }

        &.duration {
            margin-left: auto;
        }

        .track-title {
            margin-top: 10px;

            @media screen and (max-width: 768px) {
                margin-top: 0;
            }
        }

        .track-duration {
            margin-top: 17px;
        }

        .track-artist,
        .track-duration,
        .track-belongs-to-playlist {
            font-size: 12px;
            font-weight: 300;

            @media screen and (max-width: 768px) {
                margin-top: 0;
            }
        }
    }
}

#search-results {
    .spotify-track {
        .track-title {
            margin-top: 0;
        }
    }
}